@import url("https://fonts.googleapis.com/css?family=Open+Sans")

// container(base-size)
//   margin 0 auto
//   width base-size !important

baseBgColor = #EF6E7E
baseFgColor = #BE4856
baseLinkColor = #FFF
headBoxBgColor = #EBEBEB
headBoxFgColor = #C1C1C1

*
  margin 0
  padding 0

body
  font-family: 'Open Sans', sans-serif
